<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owl.server.mappers.IndexMapper">

    <!--  书籍结果集  -->
    <resultMap id="bookResult" type="com.owl.server.models.BookModel" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="covers" columnPrefix="c_" resultMap="coverResult"/>
    </resultMap>

    <!--  封面结果集  -->
    <resultMap id="coverResult" type="com.owl.server.models.CoverModel">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="book_id" property="book_id"/>
    </resultMap>

    <select id="findById" resultMap="bookResult" parameterType="string">
        SELECT b.*,
               c.id      as c_id,
               c.url     as c_url,
               c.book_id as c_book_id
        FROM books AS b
                 LEFT JOIN covers AS c ON b.id = c.book_id
        WHERE b.id = #{id};
    </select>

</mapper>