<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owl.server.mappers.IndexMapper">

    <!--  书籍结果集  -->
    <resultMap id="bookResult" type="com.owl.server.models.BookModel" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="covers" columnPrefix="c_" resultMap="coverResult"/>
    </resultMap>

    <!--  封面结果集  -->
    <resultMap id="coverResult" type="com.owl.server.models.CoverModel">
        <id column="id" property="id"/>
        <result column="cover" property="cover"/>
        <result column="books_id" property="books_id"/>
    </resultMap>

    <select id="findById" resultMap="bookResult" parameterType="string">
        SELECT b.*,
               c.id       as c_id,
               c.cover    as c_cover,
               c.books_id as c_books_id
        FROM books AS b
                 LEFT JOIN covers AS c ON b.id = c.books_id
        WHERE b.id = #{id};
    </select>

</mapper>