<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owl.server.mappers.IndexMapper">

    <resultMap id="books" type="com.owl.server.models.BookModel" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="covers" ofType="com.owl.server.models.CoverModel">
            <id column="c_id" property="id"/>
            <result column="c_url" property="url"/>
            <result column="c_book_id" property="book_id"/>
        </collection>
        <collection property="comments" ofType="com.owl.server.models.CommentModel">
            <id column="co_id" property="id"/>
            <result column="co_book_id" property="book_id"/>
            <result column="co_user_id" property="user_id"/>
            <result column="co_content" property="content"/>
            <result column="co_agree" property="agree"/>
            <result column="co_oppose" property="oppose"/>
            <result column="co_create_date" property="create_date"/>
            <association property="user" javaType="com.owl.server.models.UserModel">
                <id column="u_id" property="id"/>
                <result column="u_username" property="username"/>
                <result column="u_password" property="password"/>
                <result column="u_avatar_url" property="avatar_url"/>
                <result column="u_phone" property="phone"/>
                <result column="u_signature" property="signature"/>
                <result column="u_background_url" property="background_url"/>
                <result column="u_create_date" property="create_date"/>
            </association>
        </collection>
    </resultMap>

    <!-- 书籍与封面：一对多，书籍与评论：一对多，评论与用户：一对一。 -->
    <select id="findBookById" resultMap="books" parameterType="string">
        SELECT b.*,
               c.id             as c_id,
               c.url            as c_url,
               c.book_id        as c_book_id,
               co.id            as co_id,
               co.book_id       as co_book_id,
               co.user_id       as co_user_id,
               co.content       as co_content,
               co.create_date   as co_create_date,
               co.oppose        as co_oppose,
               co.agree         as co_agree,
               u.id             as u_id,
               u.username       as u_username,
               u.avatar_url     as u_avatar_url,
               u.phone          as u_phone,
               u.signature      as u_signature,
               u.background_url as u_background_url,
               u.create_date    as u_create_date
        FROM books AS b
                 LEFT JOIN covers AS c ON c.book_id = b.id
                 LEFT JOIN comments AS co ON co.book_id = b.id
                 LEFT JOIN users AS u ON u.id = co.user_id
        WHERE b.id = #{id};
    </select>


    <resultMap id="orders" type="com.owl.server.models.OrderModel">

    </resultMap>
    <select id="findOrdersById" resultMap="orders" parameterType="string">

    </select>


    <resultMap id="carts" type="com.owl.server.models.CartModel">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="num" property="num"/>
        <result column="create_date" property="create_date"/>
        <result column="book_id" property="book_id"/>
        <association property="book" javaType="com.owl.server.models.BookModel">
            <id column="b_id" property="id"/>
            <result column="b_name" property="name"/>
            <result column="b_price" property="price"/>
            <result column="b_cover_url" property="cover_url"/>
            <result column="b_discount" property="discount"/>
        </association>
    </resultMap>
    <select id="findCartsByUserId" resultMap="carts" parameterType="string">
        SELECT c.*,
               b.id        AS b_id,
               b.name      AS b_name,
               b.price     AS b_price,
               b.cover_url AS b_cover_url,
               b.discount  AS b_discount
        FROM `carts` AS c
                 LEFT JOIN books AS b ON c.book_id = b.id
        WHERE user_id = #{userId};
    </select>

</mapper>